<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="ion-padding">
    <h1 style="font-size: 36px; font-weight: 900;">Violet's Book of Learning</h1>
    <ion-button routerLink="/kindergarten-sight-words" color="tertiary" expand="block">
      Kindergarten Sight Words
    </ion-button>
    <ion-button routerLink="/first-grade-sight-words" color="tertiary" expand="block">
      First Grade Sight Words
    </ion-button>
    <!-- <ion-button routerLink="/sentences" color="tertiary" expand="block">
      Sentences
    </ion-button> -->
    <ion-button routerLink="/saved-words" color="tertiary" expand="block">
      Saved Words
    </ion-button>
 </div>
</ion-content>
